@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
  outline: 1px solid red;
} */

html {
  font-family: 'Montserrat';
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.btn {
  color: #FFFFFF;
  padding: 25px 37px;
  background: #FF9900;
  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background: #FF9900B2;
}

.btn:focus {
  background: #FF9900B2;
  outline: none;
}

.btn:active {
  background: #E1670E;
}

section {
  margin-bottom: 100px;
}

.heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

/* header */

.header {
  padding: 14px 0px;
  box-shadow: 0 5px 10px #00000036;
  z-index: 3;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 35px;
  height: 40px;
  margin: 45px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #333333;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav__burger {
  transition: 0.3s ease;
  display: none;
}

.nav__burger ul {
  padding: 0 22px;
}

.nav__burger li {
  list-style: none;
  padding: 12px 0;
}

.nav__burger li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav__burger li a:hover {
  font-weight: bold;
}

.burger-box {
  display: none;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
  display: none;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #000000ee, #000000ee);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 400px;
  height: 620px;
  transform: translate(-60%, -30%);
}

.header__logo {
  max-width: 224px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 78px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 4px 0px;
  color: #333333;
}

.nav__link:hover {
  border-bottom: 2px solid #FF9900;
}

.nav__link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.nav__item_search {
  width: 24px;
  height: 24px;
  background: url('../img/header/search.svg');
  background-size: cover;
}

.nav__item_search:hover rect {
  fill: #FF9900;
}

.nav__item_search:hover path {
  stroke: #FF9900;
}

.nav__search:focus {
  outline: 2px solid #FF9900;
}

.nav__item_search:active rect {
  fill: #FF9900;
}

.nav__item_search:active path {
  stroke: #FF9900;
}

/* main */

/* Slider */
.slider {
  min-height: 620px;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url('../img/main/Heading/slider_one.jpg');
}

@keyframes slideBg {
  0% {
    background-image: url('../img/main/Heading/slider_one.jpg');
  }

  33% {
    background-image: url('../img/main/Heading/slider_two.jpg');
  }

  66% {
    background-image: url('../img/main/Heading/slider_three.jpg');
  }
}

.slider-container {
  margin-left: 80px;
  max-width: 850px;
}

.slider__heading {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
  padding-top: 100px;
}

.slider__description {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 115px;
}

.slider__btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 25px 37px;
  background: #FF9900;
}

/* About Us */

.about-us__container {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about-us__heading {
  color: #333333;
  margin-bottom: 20px;
}

.about-us__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.about-us-picture {
  display: flex;
  justify-content: space-between;
}

.about-us-picture__block {
  width: 49%;
  min-height: 630px;
}

.about-us-picture__block_main {
  background: url('../img/main/AboutUs/worker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.abous-us-picture__box {
  background: #00000070;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
}

.about-us-picture__description {
  max-width: 450px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-us-picture__btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 38px;
  border: 3px solid #FF9900;
  transition: background 0.2s ease-in-out;
}

.about-us-picture__btn:hover {
  background: #FF9900;
}

.about-us-picture__btn:focus {
  background: #FF9900;
}

.about-us-picture__btn:active {
  background: #E1670E;
  border: 3px solid #E1670E;
}


.about-us-picture__block_methods {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-picture-methods {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 38%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 65px;
  border: 1px solid #CACACA;
}

.about-us-picture__img {
  margin-right: 50px;
  max-width: 190px;
}

.about-us-picture-methods-box {
  max-width: 460px;
}

.about-us-picture-methods-box__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 8px;
}

.about-us-picture-methods-box__descripton {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

/* How We Work */

.how-we-work {
  display: flex;
  justify-content: space-between;
}

.how-we-work__heading {
  color: #333333;
  margin-bottom: 50px;
}

.how-we-work__list {
  display: flex;
  margin-bottom: 50px;
}

.how-we-work__item:not(:last-child) {
  margin-right: 85px;
}

.how-we-work__step {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}


.how-we-work__step:hover {
  color: #FF9900;
}

.how-we-work__step:focus {
  outline: 2px solid #FF9900;
}

.how-we-work__step:active {
  color: #E1670E;
}

.tabs-btn-active {
  color: #E1670E;
}

.step {
  display: none;
  justify-content: space-between;
}

.step-active {
  display: flex;
}


.step-box {
  width: 48%;
}

.step-description__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 8px;
}

.step-description__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 70px;
}

.step-btn-box {
  height: 39px;
}

.step__btn {
  padding: 21px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;
}

.step__btn_black {
  padding: 20px 38px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #000000;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.step__btn_black:hover {
  color: #FFFFFF;
  background: #666666;
  border: 1px solid #666666;
}

.step__btn_black:focus {
  color: #FFFFFF;
  background: #666666;
  border: 1px solid #666666;
}

.step__btn_black:active {
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
}

.step-img_one {
  background: url('../img/main/HowWeWork/work_step_one.jpg');
}

.step-img_two {
  background: url('../img/main/HowWeWork/work_step_two.jpg');
}

.step-img_three {
  background: url('../img/main/HowWeWork/work_step_three.jpg');
}

.step-img_four {
  background: url('../img/main/HowWeWork/work_step_four.jpg');
}

.step-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Frequent Questions */

.frequent-questions__heading {
  color: #333333;
  margin-bottom: 32px;
}

#accordion {
  width: 100%;
  margin: 20px auto;
}

#accordion>h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  margin-top: -1px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #333333;
  cursor: pointer;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

#accordion>h3:hover,
#accordion>h3:focus {
  z-index: 2;
  border-color: #FF9900;
  color: #FF9900;
  outline: none;
}

#accordion>h3:active {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

#accordion>h3.select {
  border-top: 1px solid #E1670E;
  border-bottom: 1px solid #E1670E;
  color: #E1670E;
}

#accordion>div {
  height: 0;
  overflow: hidden;
  color: #333;
  padding-left: 15px;
  padding-right: 15px;
  transition: height 1s;
}

.tabs__text {
  font-size: 16px;
  line-height: 32px;
}

/* Footer */

.footer {
  background: #222222;
}

.links-social {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.links-social__img {
  margin-bottom: 30px;
}

.footer-links__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer-links__item:last-child {
  margin-bottom: 90px;
}

.footer-social__link path {
  transition: fill 0.2s ease-in-out;
}

.footer-social__link:not(:last-child) {
  margin-right: 25px;
}

.footer-social__link:hover path {
  fill: #FF9900;
}

.footer-social__link:focus path {
  fill: #FF9900;
}

.footer-social__link:active path {
  fill: #E1670E;
}



.feedback input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  color: #CACACA;
}

.feedback__heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
  margin-bottom: 25px;
}

.form {
  max-width: 570px;
  display: flex;
  flex-direction: column;
}


.feedback__form {
  padding: 14px 24px;
  background: #414141;
  border: none;
  outline: none;
  margin-bottom: 25px;
  color: #CACACA;
  box-sizing: border-box;
  transition: background 0.2s ease-in-out;
}

#message {
  padding: 14px 24px;
  background: #414141;
  border: none;
  width: 100%;
  height: 150px;
  margin-bottom: 35px;
  resize: none;
  outline: none;
  color: #CACACA;
  box-sizing: border-box;
  transition: background 0.2s ease-in-out;
}

.feedback__form:hover,
#message:hover,
.feedback__form:focus,
#message:focus,
.feedback__form:active,
#message:active {
  background: #666666;
}

.form-btn {
  align-items: center;
  display: flex;
}

.btn_footer {
  border: 0;
  margin-right: 20px;
  cursor: pointer;
}

.form-btn__confirm {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

label {
  font-weight: 400;
  font-size: 16px;
  color: #CACACA;
  cursor: pointer;
}

.form-btn__confirm+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form-btn__confirm+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #CACACA;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form-btn__confirm:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.footer-description {
  align-self: center;
  max-width: 360px;
}

.footer-description__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}